<ul class="nav nav-list">
    <li class="active">
        <a href="index-2.html">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard </span>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Category </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a href="tables.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Add Category
                </a>
                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="jqgrid.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    List Category
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> User </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a href="/?admin&controller=admin&action=add">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Add User
                </a>
                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/?admin&controller=admin&action=grid">
                    <i class="menu-icon fa fa-caret-right"></i>
                    List User
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
</ul><!-- /.nav-list -->