<form class="form-horizontal" role="form" action="<?php echo $this->url_add; ?>" method="post">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Text Field </label>
        <div class="col-sm-9">
            <input type="text" id="form-field-1" value="" name="username" placeholder="Username" class="col-xs-10 col-sm-5" />
        </div>
    </div>
    <div class="space-4"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Password Field </label>
        <div class="col-sm-9">
            <input type="password" id="form-field-2" value="" name="password" placeholder="Password" class="col-xs-10 col-sm-5" />
            <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">Inline help text</span>
            </span>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Reset
            </button>
        </div>
    </div>
</form>