<h1>Hello FW</h1>
<table cellpadding="0" cellspacing="0" border="1" style="width: 100%;">
    <tr>
        <th>ID</th>
        <th>Category Name</th>
    </tr>
<?php foreach($this->category as $category) :?>
<tr>
    <td><?php echo $category['id']; ?></td>
    <td><?php echo $category['name']; ?></td>
</tr>
<?php endforeach; ?>
</table>