<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?php echo $this->title; ?></title>
    <link rel="stylesheet" href="/frontend/views/theme/default/css/styles.css" title="stylesheet" type="text/css" />
</head>
<body>
<h1>Hello FW</h1>
<?php print_r($this->category); ?>
</body>
</html>
